
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color: #fff;
            margin: 0;
        }
        .selector {
            color: #00f;
            background-color: #eee;
            font-family: Arial;
            font-size: 20px;
        }
        p {
            margin: 20px 0;
            padding: 10px 0;
